@import url(./composants/colors.css);
@import url(./composants/texts.css);
@import url(./composants/images.css);
@import url(./composants/tags.css);
@import url(./composants/sidebar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fire sans", sans-serif;
    list-style: none;
}

body {
    background: linear-gradient(
        167.95deg,
        var(--background-primaire) 0%,
        var(--background-secondaire) 100%
    );

    color: var(--text-black);

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--text-black);
}

.right-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: blue;
}
