.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item .is-active {
    padding-left: 32px;
    color: #d24a14;
    /* couleur lorsqu on passe devant un mot */
    border-right: 5px solid #d24a14;
    /* trait sur le coté droit lorsque je passe devant un mot */
}

/* .menu-toggle{
display: none;
position:fixed;
top:2rem;
right:2rem;
width:60px;
height:60px;
border-radius:99px;
background-color:black;
cursor: pointer;
} */

#hamburger {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    position: relative;
}

#hamburger::before,
#hamburger::after {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
}

#hamburger::before {
    top: -10px;
}

#hamburger::after {
    top: 10px;
}

#hamburger.cross {
    background: transparent;
}

#hamburger.cross-it {
    transform: rotate(45deg);
}

#hamburger.cross-it::before {
    transform: rotate(45deg);
    top: 0;
}

#hamburger.cross-it::after {
    transform: rotate(-45deg);
    top: 0;
}

/* .hamburger > span::before,
.hamburger >span::after {
display: block;
position: absolute;
width: 100%;
height: 4px;
border-radius:99px;
background-color: aliceblue;
transition: all 0.2s ease;
margin-top: 19px;
}

.hamburger > span::before{
content:'';
top:-8px
}

.hamburger >span::after{
    content:'';
top:8px
} */

/* .menu-toggle.is-active .hamburger > span {
transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
    transform: rotate(0deg);
    display: none;
    }
    .menu-toggle.is-active .hamburger > span::after {
        transform: rotate(0deg);
        } */

/* @media (max-width:768px){
.menu-toggle {
display: block;
}
.content{
padding-top: 8rem;
}
.sidebar{
position: fixed;
top:0;
left:-300px;
height: 100vh;
width: 100%;
max-width: 300px;
transition: 0.2 linear;
}
.sidebar.is-active {
left:0;   
}


} */

/* @media screen and (max-width:768px) {
    .overlay-sidebar {
        position: fixed;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: flex-start;
    }

    .sidebar {
        width: 85%;
        height: 100vh;
        z-index: 10;
    }

    .sidebar.active {
        right: 0;

    }
} */
