
.publication{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 50%;
    padding: 20px;
    margin: 10px;
    margin-left: 246px;
}

.all{
    display: flex;
    width: 216px;
    height: 10px;
    background: linear-gradient(135deg, #58bacd 0%, #68f798 100%);
}
    

.tweetuser{
display: flex;
width:10px ;
height:10px ;

}

body{
background: linear-gradient(135deg, #58bacd 0%, #4cc0eb8f 100%);
}

