
    .overlay-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 25vw;
    height: 100vh;
}

.sidebar-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.sidebar-profile-info {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.menulist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    transition: all 0.2s ease-in-out;
}

.menulist:hover {
    padding-left: 32px;
    border-left: 5px solid #d24a14;
}

.menulist > h2,
.menulist > h3 {
    font-size: 24px;
}

 
.open-nav{
z-index: 1;
}



.sidebar {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 250px;
    background: var(--background-sidebar);
    height: 100%;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 32px;

}

.sidebar.active {
  transform: translateX(0%);
}

.overlay-sidebar.active {
  opacity: 0.88;
  visibility: visible;
}



@media screen and (min-width : 480px) and (min-width: 768px) {
  .sidebar{
    width: 215px;
  }
  .overlay-sidebar{
 
position: relative;
opacity: 1;
  visibility: visible;
  }
    .open-nav{
      display: none;
    }
    .close-nav{
      display: none;
    }
  }


  .username{
    display: flex;
    position: relative;
    width: 15%;
    width: 4.5vw;
    height: 4.5vw;
    animation: tourne 7s linear infinite;
    margin-left: 2vw;
}

@keyframes tourne {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}