h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black);

}

h3 {
    font-size: 12px;
    font-weight: 300;
    color: var(--text-black);
   
}

h4 {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-black);
}

p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-black);

}
h1{
    color: var(--text-white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}